@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  color: #34495e;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*menu*/

.navbar-inverse {
    background-color: #082E4E;

   
}

.portada
{
	height: 492px;
}


.portada h2,p
{
color: white;
margin-left: 80px;
}

.portada h2
{
	margin-top: 300px;

	
}
.portada	p
{
margin-bottom: 30px
}




/*CARRUSEL*/



#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}
#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}
#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 600px;
    -webkit-transition: opacity ease-in-out 500ms;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
}
/*container-redes-sociales*/
.container-redes
{
	background-color: #04B45F;
	height: 200px;
	
}

.container-redes .row
{
	margin-left: 50px;
	
}
.row	
{
	margin-right: 0px;
}
.container-redes i
{
font-size: 40px;
color: white;
border-radius: 30px;
background-color: green;
margin-top: 20px;
}

.icon-md {
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    display: block;
    border-radius: 50%;
}

/*our latest*/

.container-latest
{
	background-color:#EAEAEA;
	height: 380px;

}
.container-latest h3,p
{
color: black;
}

#our-latest .row
{
	margin: 0px 0px 0px 0px; 
}

.images
{
	background-color: white;

}


/*container-contact*/


{outline: 1px solid red;}

.container-contact 
{
	background-color: #04B45F;
	height: 200px;
	
}

.container-contact h1,p
{
color: white;

}
.container-contact h1
{
	margin-left: 80px;
	margin-top: 80px;
	 
}

.container-form
{
	margin-top:-30px; 
	background-color: #EAEAEA;

}


*{outline: 1px solid red;}














/*aqui empiza container_clients*/
.container_clients{
	background-color: #FA5858;
	color:white;
	height: 400px;
}
.centrado{
	text-align: center;
}
.linea{
	background-color: white;
	width: 5px;
	height: 65px;
}
.container_company{
	background-color: #2E2E2E;
	color:#848484;

}
.company{
	list-style: none;
	padding: 0;
}
.blog{
	padding: 0;
}
.list{
	list-style: none;
}
.list li{
	display: inline-block;
	float: right;
	margin-right: 30px;
}
.footer{
	background-color: #151515;
	color: #848484;
	height: 100px;
}

/*aqui termina container_clients*/


/*aqui empieza about us*/

.container_about{
	background-color: #04B45F;
	color:white;
	height: 150px;
}
#hijo{
	text-align: center;
	margin-top: 10%;

}
.container_progress{
	background-color: #EAEAEA;
}
.container_team{
	background-color: #EAEAEA;
}
.image_team{
	border-radius: 100%;
	border:4px solid white;
}

.icon-md{
	color:white;
	font-size: 30px;
	width: 50px;
	height: 50px;
	background-color: #5858FA;

}
/*aqui termina about us*/
/*aqui empieza services*/

.container_services{
	background-color: #04B45F;
	color:white;
	height: 150px;
}
.titulo{
	color:black;
	font-size: 18px;
}
.container_sistemas{
	background-color: #EAEAEA;
}
.linea2{
	background-color: #BDBDBD;
	width: 3px;
	height: 70px;
}
/*aqui termina services*/
/*aqui empieza blog*/
.container_blog{
	background-color: #04B45F;
	color:white;
	height: 150px;
}
.list-nav{
	padding:0;
}
.list-nav li{
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}
.list-1 li{
	list-style: none;
	padding: 0px;
}
.list-2 li{
	list-style: none;
	padding: 0;
}
.list-1{
	padding: 0;
}
.list-2{
	padding:0;
}
.list-labels li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}
.list-labels{
	padding-left: 0;
}
/*aqui termina blog*/
/*aqui empieza blog*/

.list_tags li{
	list-style: none;
	display: inline-block;
}
/*aqui empieza blog*/
